@model SocialMediaAddViewModel

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="SocialMediaAddDto.Name"></label>
        <input asp-for="SocialMediaAddDto.Name" class="form-control" />
        <span asp-validation-for="SocialMediaAddDto.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="SocialMediaAddDto.Icon"></label>
        <input asp-for="SocialMediaAddDto.Icon" class="form-control" />
        <span asp-validation-for="SocialMediaAddDto.Icon"></span>
    </div>

    <div class="form-group">
        <btn-button btn-type="submit" btn-class="btn-success" btn-value="Add Social Media"></btn-button>
    </div>
</form>