@model CategoryAddViewModel

<form asp-action="Add" method="post">
    <div class="form-group mb-3">
        <label asp-for="CategoryAddDto.Name"></label>
        <input asp-for="CategoryAddDto.Name" class="form-control" />
        <span asp-validation-for="CategoryAddDto.Name"></span>
    </div>

    <div class="form-group mb-3">
        <btn-button btn-type="submit" btn-class="btn-success" btn-value="Add Category"></btn-button>
    </div>
</form>