@model CategoryAddDto

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <btn-button btn-type="submit" btn-class="btn-success" btn-value="Add Category"></btn-button>
    </div>
</form>