@model ContentAddViewModel

<form asp-action="Add" method="post" enctype="multipart/form-data">

    <div class="form-group mb-3">
        <label asp-for="ContentAddDto.Title"></label>
        <input asp-for="ContentAddDto.Title" class="form-control" />
        <span asp-validation-for="ContentAddDto.Title"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="ContentAddDto.CategoryId">Category</label>
        <select asp-for="ContentAddDto.CategoryId" asp-items="Model.CategoryListDtos" class="form-control">
        </select>
    </div>

        <div class="form-group mb-3">
        <label asp-for="ContentAddDto.Description"></label>
        <textarea asp-for="ContentAddDto.Description" class="form-control" id="summernote"></textarea>
        <span asp-validation-for="ContentAddDto.Description"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="ContentAddDto.ImageUrl"></label>
        <input asp-for="Image" class="form-control" type="file" />
        <span asp-validation-for="ContentAddDto.ImageUrl"></span>
    </div>

    <div class="form-group mb-3">
        <select class="js-example-basic-multiple form-control" asp-for="TagId" asp-items="Model.TagListDtos" multiple="multiple">
        </select>
    </div>

    <div class="form-group mb-3">
        <btn-button btn-type="submit" btn-class="btn-success" btn-value="Add Content"></btn-button>
    </div>
</form>

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    $('#summernote').summernote();
    });

    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
    </script>
}