@model UserPasswordDto

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Uyarı!</strong> Şifreniz değiştirildikten sonra oturumunuz kapatılacaktır
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form asp-action="ChangePassword" method="post">
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    
    <div class="form-group">
        <btn-button btn-type="submit" btn-class="btn-success" btn-value="Update"></btn-button>
    </div>
</form>